<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>

<div th:if="${owner}" >
    <span>Сейчас эта книга у </span>
    <span th:text="${owner.getFullName()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/books/release/{id}(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому назначить ее?</span>
    <form th:method="PATCH" th:action="@{/books/setperson/{id}(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>

<hr/>
<form th:method="GET" th:action="@{/books/edit/{id}(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<form th:method="PATCH" th:action="@{/books/delete/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>