<component name="ArtifactManager">
  <artifact type="war" name="spring-jdbc-template:war">
    <output-path>$PROJECT_DIR$/ElectronicLiblary/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-jdbc-template</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-mvc-app1.war">
      <element id="artifact" artifact-name="spring-jdbc-template:war exploded" />
    </root>
  </artifact>
</component>